.heading_style{
    color:red;
    background-color: aqua;
    display: inline;


}
.rectangle{
    width: 100px;
    height: 50px;
    background-color: green;
    margin-left: 10px;
    margin-bottom: 25px;
    margin-top: 25px;
    margin-right: 50px;
}